--extra-index-url https://download.pytorch.org/whl/cpu

# python 3.11

python-dotenv
gradio

# lang stuff
langchain
langgraph
langchain_community

# tool
chromadb
openai-whisper
opencv-python
pytubefix
opencv-python
yt-dlp

pytest
